In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
games =  pd.read_csv(r'games.csv') #import the datasets

In [3]:
games.head() #view games

,year,week,home_team,away_team,winner,tie,day,date,time,pts_win,pts_loss,yds_win,turnovers_win,yds_loss,turnovers_loss,home_team_name,home_team_city,away_team_name,away_team_city
0,2000,1,Minnesota Vikings,Chicago Bears,Minnesota Vikings,NaN,Sun,September 3,1:00PM,30,27,374,1,425,1,Vikings,Minnesota,Bears,Chicago
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Indianapolis Colts,NaN,Sun,September 3,1:00PM,27,14,386,2,280,1,Chiefs,Kansas City,Colts,Indianapolis
2,2000,1,Washington Redskins,Carolina Panthers,Washington Redskins,NaN,Sun,September 3,1:01PM,20,17,396,0,236,1,Redskins,Washington,Panthers,Carolina
3,2000,1,Atlanta Falcons,San Francisco 49ers,Atlanta Falcons,NaN,Sun,September 3,1:02PM,36,28,359,1,339,1,Falcons,Atlanta,49ers,San Francisco
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Baltimore Ravens,NaN,Sun,September 3,1:02PM,16,0,336,0,223,1,Steelers,Pittsburgh,Ravens,Baltimore

In [4]:
games = games.rename(columns = {'year':'Year', 'week':'Week', 'date': 'Game Date', 'away_team': "Opponent",'home_team':'Team', 'time':'Time'}) #rename the columns so we can merge the data

In [5]:
games_drop = [ 'pts_win', 'pts_loss', 'yds_win', 'turnovers_win','yds_loss', 'turnovers_loss', 'home_team_name', 'home_team_city', 'away_team_name', 'away_team_city','tie', 'winner'] #select the columns to be dropped

In [6]:
games = games.drop(games_drop, axis=1) #drop columns

In [7]:
#fix the format of the game date to match 
game_dates_year = pd.to_datetime('2000' +' '+ games['Game Date'], format ='%Y %B %d')
games['Game Date'] = pd.DataFrame({'Game Date': game_dates_year.dt.strftime('%m/%d')})
games

,Year,Week,Team,Opponent,day,Game Date,Time
0,2000,1,Minnesota Vikings,Chicago Bears,Sun,09/03,1:00PM
1,2000,1,Kansas City Chiefs,Indianapolis Colts,Sun,09/03,1:00PM
2,2000,1,Washington Redskins,Carolina Panthers,Sun,09/03,1:01PM
3,2000,1,Atlanta Falcons,San Francisco 49ers,Sun,09/03,1:02PM
4,2000,1,Pittsburgh Steelers,Baltimore Ravens,Sun,09/03,1:02PM
...,...,...,...,...,...,...,...
5319,2019,Division,Kansas City Chiefs,Houston Texans,Sun,01/12,3:05PM
5320,2019,Division,Green Bay Packers,Seattle Seahawks,Sun,01/12,6:40PM
5321,2019,ConfChamp,Kansas City Chiefs,Tennessee Titans,Sun,01/19,3:05PM
5322,2019,ConfChamp,San Francisco 49ers,Green Bay Packers,Sun,01/19,6:40PM
5323,2019,SuperBowl,Kansas City Chiefs,San Francisco 49ers,Sun,02/02,6:30PM

In [8]:
#filter the rows based off of the year 
games = games[games['Year'] >= 2014]
games = games[games['Year'] <= 2016]

In [9]:
#change weeks to match 
games['Week'] = games['Week'].replace({'WildCard': 18, 'Division':19, 'ConfChamp':20, 'SuperBowl':22})

In [10]:
games_index = games.index[0:]
thurs = []
for num in games_index: 
    if games['day'][num] == 'Thu':
        thurs.append(1)
    else:
        thurs.append(0)
        
games['Thursday Game'] = thurs

In [11]:
games

,Year,Week,Team,Opponent,day,Game Date,Time,Thursday Game
3722,2014,1,Seattle Seahawks,Green Bay Packers,Thu,09/04,8:42PM,1
3723,2014,1,St. Louis Rams,Minnesota Vikings,Sun,09/07,1:00PM,0
3724,2014,1,Chicago Bears,Buffalo Bills,Sun,09/07,1:00PM,0
3725,2014,1,Baltimore Ravens,Cincinnati Bengals,Sun,09/07,1:02PM,0
3726,2014,1,Philadelphia Eagles,Jacksonville Jaguars,Sun,09/07,1:02PM,0
...,...,...,...,...,...,...,...,...
4518,2016,19,Dallas Cowboys,Green Bay Packers,Sun,01/15,4:40PM,0
4519,2016,19,Kansas City Chiefs,Pittsburgh Steelers,Sun,01/15,8:20PM,0
4520,2016,20,Atlanta Falcons,Green Bay Packers,Sun,01/22,3:05PM,0
4521,2016,20,New England Patriots,Pittsburgh Steelers,Sun,01/22,6:40PM,0
4522,2016,22,New England Patriots,Atlanta Falcons,Sun,02/05,6:30PM,0

In [12]:
games.to_csv('game_key.csv')

In [13]:
game_key_flipped = pd.read_csv(r'C:\Users\alexs\OneDrive - Binghamton University\Programming\Project\game_key_reversed.csv')

In [14]:
full_teams = pd.concat([games, game_key_flipped], ignore_index = True) 
full_teams = full_teams.drop(['Unnamed: 0', 'day'], axis = 1)

In [15]:
full_teams
#see that it has double the rows as games

,Year,Week,Team,Opponent,Game Date,Time,Thursday Game
0,2014,1,Seattle Seahawks,Green Bay Packers,09/04,8:42PM,1
1,2014,1,St. Louis Rams,Minnesota Vikings,09/07,1:00PM,0
2,2014,1,Chicago Bears,Buffalo Bills,09/07,1:00PM,0
3,2014,1,Baltimore Ravens,Cincinnati Bengals,09/07,1:02PM,0
4,2014,1,Philadelphia Eagles,Jacksonville Jaguars,09/07,1:02PM,0
...,...,...,...,...,...,...,...
1597,2016,19,Green Bay Packers,Dallas Cowboys,1/15,4:40PM,0
1598,2016,19,Pittsburgh Steelers,Kansas City Chiefs,1/15,8:20PM,0
1599,2016,20,Green Bay Packers,Atlanta Falcons,1/22,3:05PM,0
1600,2016,20,Pittsburgh Steelers,New England Patriots,1/22,6:40PM,0
1601,2016,22,Atlanta Falcons,New England Patriots,2/5,6:30PM,0

In [16]:
full_teams.to_csv('games_cleaned.csv')